<form action="/" method="get">
    <button type="submit">Home</button>
</form>
<form action="/lista" method="get">
    <button type="submit"> Listar músicas </button>
</form>
<form action="/newsong" method="get">
  <button type="submit"> Adicionar músicas </button>
</form>
<form action="/price" method="get">
    <button type="submit"> Gerir preço por like </button>
</form>