<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PSIFY </title>
</head>
<body>
    <%- include("header") %>

    <h1> Bem-vindo à página inicial </h1>
    <p> Esta é a página inicial da aplicação PSIFY. </p>
    <p> Utilize o menu acima para navegar pelas diferentes funcionalidades da aplicação</p>
    <p> Obter uma música </p>
    
    <label for="musicaid"> Id da música: </label>
    <input type="text" name="musicaid" id="musicaid">
    <button type="submit" onclick="redirecionar()"> Obter </button>

    <script> 
    function redirecionar() {
    let id = document.getElementById("musicaid").value
    window.location.href = `http://localhost:3001/song/${id}` ;
    }
    </script>

</body>
</html>